<%= simple_form_for(@message, html: { class: "form" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <div class="my-3">
          <%= f.input :body, input_html: { class: "form-control" }, label_html: { class: "visually-hidden" } %>
        </div>
        <%= f.input :sender_id, as: :hidden %>
        <%= f.input :recipient_id, as: :hidden %>
      </div>
      <div class="form-actions text-center">
        <%= f.button :submit, "Send Message", class: "btn btn-success" %>
      </div>
    <% end %>
