<div id="<%= dom_id message %>">
  <p>
    <strong>Rating:</strong>
    <%= message.rating %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= message.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= message.recipient_id %>
  </p>

</div>
