<div class="flex-grow-1">
  <div class="container my-5" style="max-width: 600px;">

    <div class="row px-2 mb-3">
      <div class="col-1">
        <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, "/messages", class: "btn btn-link d-block text-purple" %>
      </div>
      <div class="col-11">
        <h3><%= User.find(params.fetch("user_id")).first_name %></h3>
      </div>
    </div>

    <ul class="list-group always-scrollable border">
      <% @messages.each do |message| %>
        <li class="list-group-item">
          <% if message.sender_id == params.fetch("current_user_id").to_i %>
            <strong>You:</strong> <%= message.body %>
          <% else %>
            <strong><%= User.find(params.fetch("user_id")).first_name %>:</strong> <%= message.body %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= render "form" %>

  </div>
</div>
