<div class="flex-grow-1">
  <div class="container my-5" style="max-width: 600px;">
    <h1 class="text-center my-4">Messages</h1>

    <ul class="list-group always-scrollable custom-border">
      <% @latest_messages.each do |message| %>
        <% other_user_id = (message.sender_id == current_user.id ? message.recipient_id : message.sender_id) %>
        <% other_user = User.where({ :id => other_user_id }).first %>
        <a href="/messages/conversation/<%= other_user_id %>?current_user_id=<%= current_user.id %>" class="list-group-item d-flex justify-content-between align-items-center message-item">

          <div class="d-flex align-items-center gap-4">
            <img src="<%= other_user.avatar %>" alt="<%= other_user.first_name %>'s avatar" class="rounded-circle" width="65" height="65">

            <div class="mt-3">
              <strong><%= other_user.first_name %> <%= other_user.last_name %></strong>
              <p class=""><%= message.body %></p>
            </div>
          </div>

        </a>
      <% end %>
    </ul>
  </div>
</div>
</div>
