<div class="backstage_testers" role="region">
  <div class="container" style="margin-top: 30px; position: relative">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @backstage_testers.each do |tester| %>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card h-100 border-secondary mb-3" role="group">
            <div class="card-header border-dark" style="text-align:center; padding: 10px;">
              <strong><%= tester.product.name %></strong>
            </div>

            <div class="card-body d-flex flex-column align-items-center justify-content-center" style="text-align:center;" >

              <%= render "testers/tester_card", tester: tester %>

              <div class="d-flex justify-content-center">
                <% if current_employee.admin? == false %>
                  <p>
                    <%= link_to "Edit this tester", edit_tester_path(tester), class: "btn btn-outline-secondary", style: "margin-right:10px;", aria: { label: "Edit details for #{tester.product.name} tester" } %>
                  </p>
                <%end%>

                <% if current_employee.role.title == "Operations Associate" %>
                  <p>
                    <%= button_to "Trash this tester", trash_path(tester), method: :patch, class: "btn btn-outline-danger", aria: { label: "Remove #{tester.product.name} from testers" } %>
                  </p>

                <%end%>
              </div>

            </div>
          </div>
        </div>
      <% end %>
      <div style="text-align: center;">
        <%= paginate @backstage_testers, param_name: :backstage_page, aria_label: "Pagination for backstage testers" %>
      </div>
    </div>
  </div>
</div>
