<div class= "d-flex flex-column align-items-center justify-content-center">

  <%= form_for(@tester) do |f| %>
    <% if @tester.errors.any? %>
      <div class="error-messages">
        <ul>
          <% @tester.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p class="text-center"> <strong><%= @tester.product.name %></strong></p>

    <div class="form-inputs">
      <%= f.hidden_field :product_id, value: @tester.product.id %>
      <%= f.hidden_field :shop_id, value: current_employee.shop_id %>

      <%= f.label :condition, "Condition" %>
      <%= f.select :condition, ["New", "Good", "Ok"],{}, { class: "form-select form-control" } %>

      <%= f.label :location, "Location" %>
      <%= f.select :location, ["Onstage", "Makeup Bin 1", "Makeup Bin 2", "Skincare Bin 1", "Skincare Bin 2", "Hair Bin 1", "Hair Bin 2", "Fragrance Bin 1", "Fragrance Bin 2" ], {}, { class: "form-select form-control" } %>

      <%= f.hidden_field :trashed_at, value: nil %>
    </div>

    <div class="form-actions text-center" style="margin-top:20px;">
      <%= f.submit class: "btn btn-outline-dark"%>
    </div>

    <p class="text-center">
      <%= @tester.trashed_at %>
    </p>

  <% end %>
</div>
