<div class="onstage_testers">
  <div class="container" style="margin-top: 30px; position: relative">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @onstage_testers.each do |tester| %>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card h-100 border-secondary mb-3">
            <div class="card-header border-dark" style="text-align:center; padding: 10px;">
              <strong><%= tester.product.name %></strong>
            </div>

            <div class="card-body d-flex flex-column align-items-center justify-content-center" >
              <%= image_tag tester.product.image, width: "200", height: "200", class: "img-fluid" %>
              <p>
                <strong>SKU:</strong>
                <%= tester.product.sku %>
              </p>

              <p>
                <strong>Condition:</strong>
                <%= tester.condition %>
              </p>

              <p>
                <strong>Time created:</strong>
                <%= time_ago_in_words(tester.created_at) %>
              </p>

              <% if current_employee.role.title == "Operations Associate" %>
              <p>
                <%= button_to "Approve this tester", tester, method: :delete, class: "btn btn-outline-secondary" %>
              </p> 
            <%end%>

            </div>
          </div>
        </div>
      <% end %>
      <div style="text-align: center;">
        <%= paginate @onstage_testers, param_name: :onstage_page %>
      </div>
    </div>
  </div>
</div>
