<div class="product_results">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-4 mb-4">
        <% @products.each do |product| %>
          <div class="product-card">
            <div class="text-center" style="padding: 10px;">
              <strong>Name:</strong> 
              <%= product.name %>
            </div>
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
              <%= image_tag product.image, width: "200", height: "200" %>
              <p>
                <strong>SKU:</strong> 
                <%= product.sku %>
              </p>
              <%= form_for @tester, url: testers_path, method: :post do |f| %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.hidden_field :shop_id, value: current_employee.shop_id %>
                
                <%= f.label :condition, "Condition" %>
                <%= f.select :condition, ["New", "Good", "Ok"], {}, { class: "form-control" } %>
                
                <%= f.label :location, "Location" %>
                <%= f.select :location, ["Onstage", "Backstage"], {}, { class: "form-control" } %>

                <%= f.hidden_field :trashed_at, value: nil %>
                <%= f.submit "Create Tester", class: "btn btn-dark mt-3" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
