<div class="container" style="margin-top: 150px;">
  <div style="text-align: center;">
    <h1>Search Results</h1>

    <% if @searchable_testers.any? %>
      <div class="row d-flex justify-content-center">
        <% @searchable_testers.each do |tester| %>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 25rem;">
              <img class="card-img-top mx-auto" src="<%= image_path(tester.product.image) %>" alt="Image of <%= tester.product.name %>" style="width: 200px; height: 200px; margin-top:20px;">
              <div class="card-body">
                <h5 class="card-title"><%= tester.product.name %></h5>
                <p class="card-text">
                  <strong>SKU:</strong> <%= tester.product.sku %><br>
                  <strong>Condition:</strong> <%= tester.condition %><br>
                  <strong>Location:</strong> <%= tester.location %><br>
                  <strong>Time Created:</strong> <%= tester.created_at.strftime("%B %d, %Y %H:%M:%S") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pagination-container" style="text-align: center; margin-top: 20px;">
        <%= paginate @searchable_testers, aria_label: "Pagination for available testers" %>
      </div>

      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3", aria: { label: "Go back to the tester search page" }  %>
    <% else %>
      <p style="color: red;">No results found.</p>
      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3", aria: { label: "Go back to the tester search page" } %>
    <% end %>
  </div>
</div>
