<div class="container" style="margin-top: 150px;">
  <div style="text-align: center;">
    <h1>Search Results</h1>

    <% if @searchable_testers.any? %>
      <div class="search-results">
        <% @searchable_testers.each do |tester| %>
          <div class="result-item">
            <p><strong>Product Name:</strong> <%= tester.product.name %></p>
            <%= image_tag tester.product.image, width: "200", height: "200" %>
            <p><strong>SKU:</strong> <%= tester.product.sku %></p>
            <p><strong>Condition:</strong> <%= tester.condition %></p>
            <p><strong>Location:</strong> <%= tester.location %></p>
            <p><strong>Time Created:</strong> <%= tester.created_at.strftime("%B %d, %Y %H:%M:%S") %></p>
          </div>
        <% end %>
      </div>

      <div class="pagination-container" style="text-align: center; margin-top: 20px;">
        <%= paginate @searchable_testers %>
      </div>

      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3" %>
    <% else %>
      <p style="color: red;">No results found.</p>
      <%= link_to "Back to Search", testers_path, class: "btn btn-dark mt-3" %>
    <% end %>
  </div>
</div>
