<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-lg-4 mb-4">
      <div class="card">
        <div id="<%= dom_id tester %>">
          <div class="card-header text-center">
            <strong><%= tester.product.name %></strong>
          </div>

          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <%= image_tag tester.product.image, width: "200", height: "200" %>
            <p>
              <strong>SKU:</strong>
              <%= tester.product.sku %>
            </p>

            <p>
              <strong>Condition:</strong>
              <%= tester.condition %>
            </p>

             <p>
              <strong>Location:</strong>
              <%= tester.location %>
            </p>

            <p>
              <strong>Time created:</strong>
              <%= tester.created_at.strftime("%B %d, %Y %H:%M:%S") %>
            </p>

            <p style="text-align: center;">Need to make changes to this newly created tester?</p>

            <p>
              <%= link_to "Edit this tester", edit_tester_path(@tester), class: "btn btn-secondary" %>
            </p>       
           
            <p>
              <%= button_to "Delete this tester", @tester, method: :delete, class: "btn btn-outline-secondary" %>
            </p> 


          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
