<div id="<%= dom_id tester %>">
  <p>
    <strong>Product:</strong>
    <%= tester.product_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= tester.store_id_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= tester.condition %>
  </p>

  <p>
    <strong>Trashed at:</strong>
    <%= tester.trashed_at %>
  </p>

</div>
