<p style="color: green"><%= notice %></p>

<div class="tester_search">
  <div class="container" style="margin-top: 150px;">
    <div style="text-align: center;">
      <h1>What tester are you looking for?</h1>
    </div>

    <%= search_form_for @q, remote: true, html: { class: "search-form" } do |f| %>
      <div class="input-group">
        <%= f.search_field :product_name_or_product_sku_cont, 
              class: "form-control search-bar", 
              placeholder: "Search Testers by Name or SKU", 
              aria: { label: "Search" } %>
        <div class="input-group-append">
          <%= f.submit "Search", class: "btn btn-dark search-btn" %>
          <%= link_to "Clear", testers_path, class: "btn btn-outline-secondary clear-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
