<div style="margin: 20px; padding:10px; text-align:center;">
  <h1>Manage Testers</h1>
</div>

<div class="container">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="display: flex;
    justify-content: center; align-items: center;">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-dark" for="btnradio1">Backstage Testers</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-dark" for="btnradio2">Approve Testers</label>
  </div> 
</div>

<div class="backstage_testers">
  <div class="container" style="margin-top: 30px; position: relative">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @backstage_testers.each do |tester| %>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card h-100 border-secondary mb-3">
            <div class="card-header border-dark" style="text-align:center; padding: 10px;">
              <strong><%= tester.product.name %></strong>
            </div>

            <div class="card-body d-flex flex-column align-items-center justify-content-center" style="text-align:center;" >
              <%= image_tag tester.product.image, width: "200", height: "200", class: "img-fluid" %>
              <p>
                <strong>SKU:</strong>
                <%= tester.product.sku %>
              </p>

              <p>
                <strong>Condition:</strong>
                <%= tester.condition %>
              </p>

              <p>
                <strong>Location:</strong>
                <%= tester.location %>
              </p>

              <p>
                <strong>Time created:</strong>
                <%= tester.created_at.strftime("%B %d, %Y %H:%M:%S") %>
              </p>

              <% if current_employee.role.title == "Operations Associate" %>
              <p>
                <%= button_to "Trash this tester", trash_path(tester), method: :patch, class: "btn btn-outline-secondary" %>
              </p> 
            <%end%>

            </div>
          </div>
        </div>
      <% end %>
      <div style="text-align: center;">
        <%= paginate @backstage_testers, param_name: :backstage_page %>
      </div>
    </div>
  </div>
</div>




<!--Testers button functionality-->
<script>
 $("#btnradio2").click(function() {
  $(".backstage_testers").html('<%= j render "onstage_testers" %>');
});

 $("#btnradio1").click(function() {
  $(".backstage_testers").html('<%= j render "backstage_testers" %>');
});


</script>
