<p style="color: green"><%= notice %></p>

<%= render @tester %>

<div>
  <%= link_to "Edit this tester", edit_tester_path(@tester) %> |
  <%= link_to "Back to testers", testers_path %>

  <%= button_to "Destroy this tester", @tester, method: :delete %>
</div>
