<p style="color: green; text-align: center;"><%= notice %></p>

<div style="margin: 20px; padding:10px; text-align:center;">
  <h1>Trashed Testers</h1>
</div>

<div class="container" style="margin-top: 30px; position: relative">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <% @testers.each do |tester| %>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card h-100 border-secondary mb-3">
          <div class="card-header border-dark" style="text-align:center; padding: 10px;">
            <strong><%= tester.product.name %></strong>
          </div>

          <div class="card-body d-flex flex-column align-items-center justify-content-center" style="text-align: center;" >
            <%= image_tag tester.product.image, width: "200", height: "200", class: "img-fluid" %>
            <p>
              <strong>SKU:</strong>
              <%= tester.product.sku %>
            </p>

            <p>
              <strong>Condition:</strong>
              <%= tester.condition %>
            </p>

            <p>
              <strong>Location:</strong>
              <%= tester.location %>
            </p>
            
            <p>
              <strong>Time trashed:</strong>
              <%= tester.updated_at.strftime("%B %d, %Y %H:%M:%S") %>
            </p>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


 <div style="text-align: center;">
    <%= paginate @testers %>
  </div>
