<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school_id%>
  </p>

  <p>
    <strong>Parent first name:</strong>
    <%= student.parent_first_name %>
  </p>

  <p>
    <strong>Parent last name:</strong>
    <%= student.parent_last_name %>
  </p>

  <p>
    <strong>Parent relationship:</strong>
    <%= student.parent_relationship %>
  </p>

  <p>
    <strong>Parent phone number:</strong>
    <%= student.parent_phone_number %>
  </p>

  <p>
    <strong>Emergency first name:</strong>
    <%= student.emergency_first_name %>
  </p>

  <p>
    <strong>Emergency last name:</strong>
    <%= student.emergency_last_name %>
  </p>

  <p>
    <strong>Emergency phone:</strong>
    <%= student.emergency_phone %>
  </p>

  <p>
    <strong>Pre survey:</strong>
    <%= student.pre_survey %>
  </p>

  <p>
    <strong>Post survey:</strong>
    <%= student.post_survey %>
  </p>

  <p>
    <strong>Interest survey:</strong>
    <%= student.interest_survey %>
  </p>

  <p>
    <strong>Iep or 504:</strong>
    <%= student.iep_or_504 %>
  </p>

  <p>
    <strong>Progress report 1:</strong>
    <%= student.progress_report_1 %>
  </p>

  <p>
    <strong>Progress report 2:</strong>
    <%= student.progress_report_2 %>
  </p>

  <p>
    <strong>Progress report 3:</strong>
    <%= student.progress_report_3 %>
  </p>

  <p>
    <strong>Progress report 4:</strong>
    <%= student.progress_report_4 %>
  </p>

</div>
