<div class="card hover-card my-2" style="width: 18rem;">
  <%= link_to user, class: "text-decoration-none text-dark" do %>
    <div class="position-relative">
    <div class="card-avatar-container">
      <%= image_tag user.avatar.present? ? user.avatar : "default_avatar.png", class: "card-avatar img-fluid" %>
    </div>
      <div class="star-container">
        <%= image_tag 'star.svg', type: 'image/svg', class: "star-icon", width: "50px" %>
        <span class="trust-score"><%= user.trust_score %></span>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
      <p class="card-text font-weight-light small text-muted"><%= user.location %></p>
      <p class="card-text"><%= user.bio&.truncate_words(15) %></p>
    </div>
  <% end %>
</div>
