 <div class="card my-2"  style="width: 18rem;">
          <%= image_tag user.avatar, class: "card-img-top" %>

          <div class="card-body">
            <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
            <p class="card-text font-weight-light" style="text-grey"><%= user.occupation %></p>
            <p class="card-text"><%= user.bio.truncate_words(15) %><p>
          </div>
          <div class="card-footer">
            <%= link_to "Show details", user, class: "btn btn-success w-100" %>
          </div>
        </div>
