<div class="flex-grow-1 d-flex flex-column justify-content-between">
  <div class="content-top">
    <div class="bg-dark text-white d-flex justify-content-center">
      <div class="row">
        <div class="col-12 col-md  px-5 text-end d-flex align-items-center" style="max-width: 600px;">
          <div>
            <h2 class="mt-4">PERFECT PALS:<br>
              Where trust meets home</h2>
            <div class="mt-4 ps-4">
              <p>A roommate-finding app designed to help users connect with reliable and trustworthy roommates. By calculating a trust score, it makes shared living safer and more predictable for individuals in need of affordable housing.</p>
            </div>
            <div class="my-4">
              <%= button_to "How it works", "/index", method: :get, class: "btn btn-outline-yellow" %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md mt-3">
          <div class="d-flex flex-column" style="min-height: 100%;">
            <%= image_tag "perfect_pals.svg", class: "img-fluid mt-auto", width: 550 %>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div id="users">
        <div class="d-flex flex-wrap gap-1 justify-content-around">
          <% @users.take(4).each do |user| %>
            <%= render "users/card", user: user %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-center m-4">
      <%= button_to "Discover more Pals", "/index", method: :get, class: "btn btn-yellow" %>
    </div>
  </div>

  <div class="content-bottom">
    <div class="d-flex justify-content-center gap-5 mx-5">
      <div class="d-flex align-items-end">
        <%= image_tag "pal.svg" %>
      </div>
      <div class="d-flex align-items-center w-40">
        <h4>Build genuine connections with ease through Perfect Pals. <br>
          Without hidden fees or complicated processes.</h4>
      </div>
    </div>
  </div>
</div>
