<h1>
  <%= @user.first_name %> <%= @user.last_name %>
</h1>
<div>
<img src="<%= @user.avatar %>" alt="photo of <%= @user.first_name %>">
</div>
<ul> 
<li><%= @user.gender %></li>
<li><%= @user.location %></li>
<li><%= @user.budget %></li>
<li><%= @user.occupation %></li>
<li><%= @user.trust_score %></li>
<li><%= @user.video_url %></li>
<li><%= @user.instagram_url %></li>
<li><%= @user.facebook_url %></li>
</ul>
