<div class="container my-3">

  <div class="row mx-4">
    <div class="col-12 col-md text-center">
      <%= image_tag @user.avatar.present? ? @user.avatar : "default_avatar.png", 
              class: "rounded-circle", 
              width: 250, 
              alt: "photo of #{@user.first_name}" %>
    </div>
    <div class="col-12 col-md text-start mb-3 mt-2">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <div class="my-4 small text-muted">
        <div class="row">
          <div class="col-3 text-end px-2">Age</div>
          <div class="col-9 text-start px-2"><%= @user.age %></div>
        </div>
        <div class="row custom-light-gray">
          <div class="col-3 text-end px-2">Gender</div>
          <div class="col-9 text-start px-2"><%= @user.gender %></div>
        </div>
        <div class="row">
          <div class="col-3 text-end px-2">Job</div>
          <div class="col-9 text-start px-2"><%= @user.occupation %></div>
        </div>
        <div class="row custom-light-gray">
          <div class="col-3 text-end px-2">Budget</div>
          <div class="col-9 text-start px-2">$<%= @user.budget %> per month</div>
        </div>
        <div class="row">
          <div class="col-3 text-end px-2">Location</div>
          <div class="col-9 text-start px-2"><%= @user.location %></div>
        </div>
      </div>

      <%= @user.bio %>

      <div class="d-flex my-4 gap-3 text-purple">
        <% if @user.facebook_url.present? %>
          <h5><%= link_to @user.facebook_url, target: "_blank", class: "social-icon" do %><i class="fa-brands fa-facebook-f"></i><% end %></h5>
        <% end %>

        <% if @user.instagram_url.present? %>
          <h5><%= link_to @user.instagram_url, target: "_blank", class: "social-icon" do %><i class="fa-brands fa-instagram"></i><% end %></h5>
        <% end %>
      </div>

      <% if @user.video_url.present? %>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Watch my intro
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content modal-video">
              <div class="modal-body">
                <div class="video-container">
                  <iframe width="560" height="315" src="<%= @user.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <div class="col-12 col-md text-center mb-3">
      <%= render partial: "users/chart" %>
    </div>
  </div>
</div>

<hr style="border: 1px solid black; width: 100%; margin: 30px 0px 0px 0px;" />
<div class="container text-center mt-4">
  <h5>Write a message to <%= @user.first_name %></h5>
</div>
<div class="container d-flex justify-content-center mb-5" style="max-width: 800px;">
  <div class="w-50">
    <%= simple_form_for(@message, html: { class: "form" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <div class="my-3">
          <%= f.input :body, input_html: { class: "form-control" }, label_html: { class: "visually-hidden" } %>
        </div>
        <%= f.input :sender_id, as: :hidden %>
        <%= f.input :recipient_id, as: :hidden %>
      </div>

      <div class="form-actions mt-3 text-center">
        <%= f.button :submit, "Send Message", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
