<h1>
  <%= @user.first_name %> <%= @user.last_name %>
</h1>
<div class="d-flex">
<img src="<%= @user.avatar %>" class="rounded-circle mt-4 float-start" width="300" alt="photo of <%= @user.first_name %>">

<ul> 
<li><%= @user.age %></li>
<li><%= @user.gender %></li>
<li><%= @user.location %></li>
<li><%= @user.budget %></li>
<li><%= @user.occupation %></li>
<li><%= @user.trust_score %></li>
<li><%= @user.video_url %></li>
<li><%= @user.instagram_url %></li>
<li><%= @user.facebook_url %></li>
</ul>
</div>
