<div class="flex-grow-1">
  <div class="container my-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Forgot your password?</h2>
    <div class="card">
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="text-center my-3"><%= f.error_notification %></div>

          <div class="form-inputs row g-3">
            <div class="col-12 form-floating">
              <%= f.input :email, 
                          required: true, 
                          autofocus: true,
                          input_html: { class: "form-control", id: "email", placeholder: "Email", autocomplete: "email" },
                          label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="form-actions mt-4 text-center">
            <%= f.button :submit, "Reset password", class: "btn btn-success px-4" %>
          </div>
        <% end %>

        <div class="text-center mt-3">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
