<p style="color: green"><%= notice %></p>

<%= render @snapshot %>

<div>
  <%= link_to "Edit this snapshot", edit_snapshot_path(@snapshot) %> |
  <%= link_to "Back to snapshots", snapshots_path %>

  <%= button_to "Destroy this snapshot", @snapshot, method: :delete %>
</div>
