<link rel="stylesheet" href="my_styles.css">
<hr>

<div>
  <div>
    <h2>
      Add a new post
    </h2>

<% if current_user != nil %>
    <form action="/insert_post" method="post">

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject">
      </div>

      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button class="add-button">
        Add post
      </button>
    </form>

    <% else %>
      <p>You must <a href="/users/sign_in">sign in</a> to add a board.</p>
    <% end %>

  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-8">
      <div class="card">
        <div  class="card-header custom-header">
          All Posts
        </div>
        <ul class="list-group list-group-flush">
          <% @list_of_posts.each do |a_post| %>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100">
              <img src="<%= a_post.image %>" alt="Image" class="me-3" style="width: 80px; height: 80px; border-radius: 15%;">
              <div class="flex-grow-1">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= a_post.subject %></h5>
                  <!-- Move the date section outside the flex container -->
                </div>
                <p class="mb-1"><%= a_post.content %></p>
                <% matching_users = User.where({ :id => a_post.user_id }) %>
                <% the_user = matching_users[0] %>
                <small class="text-body-secondary"><%= the_user.name %></small>
              </div>
              <div class="d-flex align-items-center">
                <small class="text-body-secondary ms-auto"><%= a_post.created_at.strftime("%b %e, %Y") %></small>
              </div>
            </div>
          </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
