<div>
  <div>
    <h1>
      <%= @the_post.subject %>
    </h1>

   <hr>

    <dl>
      <dt>
        User
      </dt>
      <dd>
      <% matching_users = User.where({ :id => @the_post.user_id }) %>
      <% the_user = matching_users[0] %> 
     <%= the_user.name %>
      
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @the_post.subject %>
      </dd>

      
<dt>
        Details
      </dt>
      <dd>
        <%= @the_post.details %>
      </dd>

      <dt>
        Image
      </dt>
     

      <div class="card" style="width: 18rem;">
      <img src="<%= @the_post.image %>" class="card-img-top">
      <div class="card-body">
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

      <dt>
        Created at
      </dt>
      <dd>
        <%= @the_post.created_at.strftime("%b %e, %Y")%>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<h2>Active Replies</h2>

<table border="1">
  <tr>
    <th>User</th>
    <th>Content</th>
    <th>Posted on</th>
  </tr>

  <% @matching_replies.each do |a_reply| %>
    <tr>
      <% matching_users = User.where({ :id => a_reply.user_id }) %>
      <% the_user = matching_users[0] %> 
      <td><%= the_user.name %></td>
      <td><%= a_reply.content %></td>
      <td><%= a_reply.created_at.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
