<div class="container text-center my-5" style="max-width: 800px;">
  <div class="card m-4">
    <div class="m-4">
      <%= form_with url: survey_responses_path, method: :post, id: "quiz-form" do %>

        <% @surveys.each do |survey| %>
          <p><%= survey.question %></p>
          <div class="btn-group-toggle" data-toggle="buttons">
            <% if survey.scoring_scheme == 2 %>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 1, false, class: "d-none") %> Strongly Agree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 2, false, class: "d-none") %> Agree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 3, false, class: "d-none") %> Disagree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 4, false, class: "d-none") %> Strongly Disagree
              </label>
            <% else %>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 4, false, class: "d-none") %> Strongly Agree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 3, false, class: "d-none") %> Agree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 2, false, class: "d-none") %> Disagree
              </label>
              <label class="btn btn-outline-secondary">
                <%= radio_button_tag("responses[#{survey.id}]", 1, false, class: "d-none") %> Strongly Disagree
              </label>
            <% end %>
          </div>
        <% end %>

        <%= submit_tag("Submit", class: "btn btn-primary mt-4") %>

      <% end %>
    </div>
  </div>
</div>
