<div class="container text-center">
  <h1>Quiz</h1>
<%= form_with url: survey_responses_path, method: :post do %>
  <% @surveys.each do |survey| %>
    <p><%= survey.question %></p>
    <% scoring_scheme = JSON.parse(survey.scoring_scheme) %>
    <% scoring_scheme.each do |option, score| %>
      <%= radio_button_tag "survey_responses[#{survey.id}]", option %>
      <%= label_tag "survey_responses[#{survey.id}]", option %>
    <% end %>
  <% end %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= submit_tag "Submit" %>
<% end %>
</div>
