<div class="container text-center">
  <h1>Quiz</h1>
<%= form_with url: survey_responses_path, method: :post do %>
  <% @surveys.each do |survey| %>
    <p><%= survey.question %></p>
    <% ["Strongly Agree", "Agree", "Neutral", "Disagree", "Strongly Disagree"].each_with_index do |option, index| %>
      <%= radio_button_tag "survey_responses[#{survey.id}]", index + 1 %>
      <%= label_tag "survey_responses[#{survey.id}]", option %>
    <% end %>
  <% end %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= submit_tag "Submit" %>
<% end %>
</div>
