<div class="container text-center my-5" style="max-width: 800px;">
  <div class="card">
    <%= form_with url: survey_responses_path, method: :post, id: "quiz-form" do %>
      <% @surveys.each do |survey| %>
        <p><%= survey.question %></p>
        
        <div class="mb-3">
          <label for="range-<%= survey.id %>" class="form-label">
            <% if survey.scoring_scheme == 1 %>
              Strongly Agree (5) to Strongly Disagree (1)
            <% else %>
              Strongly Disagree (1) to Strongly Agree (5)
            <% end %>
          </label>
          <input type="range" 
                 class="form-range" 
                 id="range-<%= survey.id %>" 
                 name="responses[<%= survey.id %>]" 
                 min="1" 
                 max="5" 
                 step="1" 
                 value="3">
        </div>
      <% end %>
     
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</div>
