<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= product.department_id %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

</div>
