<div id="<%= dom_id review %>">
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= review.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= review.recipient_id %>
  </p>

</div>
