<!DOCTYPE html>
<html>
  <head>
    <title>EMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/programs">Programs</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/schools">Schools</a></li>
    <li><a href="/curriculums">Curriculums</a></li>

    <!-- Add more links as needed -->
  </ul>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
    </ul>
    </nav>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
