<!DOCTYPE html>
<html>
  <head>
    <title>The Prettiest Price</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Render bootstrap, JS, and Font Awesome -->
    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "custom_styles", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="has-bg-img">
      <div class="bg-img bg-cover " id="background-img">
        <%= render partial: "shared/navbar"  %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
