<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render partial: "shared/meta_tags" %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1 d-flex flex-column justify-content-between">
      <%= render partial: "shared/navbar" %>

      <% if notice.present? %>
        <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
      <% end %>

      <% if alert.present? %>
        <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
      <% end %>

      <%= render "shared/breadcrumbs" %>

      <%= yield %>
    </main>
    
    
    <%= render partial: "shared/footer" %>
    

  </body>
</html>
